body {
    margin-top: 20px;
    margin-left: 20px;
}

dialog[open] {
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
    padding: 50px; 
    border: 2px solid coral;
}

.task-area {
    display: flex; 
    align-items: center; 
    gap: 10px;
}
.task-area > div {
    display: flex; 
    align-items: center; 
    gap: 10px;
}

.search-area {
    display: flex; 
    flex-direction: column; 
    gap: 10px;
}