:root {
    --primary-color: #FA9F20;
    --bg-color: beige;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: "Inter", sans-serif;
}

#sidebar-section {
    height: 100dvh;
    margin-left: 20px;
    width: 25%;
    display: flex;
    align-items: start;
    flex-direction: column;
    #logo-area {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    #search-box {
        width: 160px;
        height: 30px;
        border: none;
        outline: none;
        background-color: var(--bg-color);
        padding-left: 10px;
        border-radius: 5px;
    }

    ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 10px;
    }

    li {
        list-style-type: none;
    }

    .block {
        width: 20px;
        height: 20px;
        background-color: var(--primary-color);
    }

    h1 {
        font-size: 1.6em
    }
}

#main-section {
    height: 100dvh;
    width: 100%;
    background-color: blue;
}