:root {
    --primary-color: #FA9F20;
    --button-border-color: #FA9F20;
    --bg-color: beige;
    --search-bg-color: #e3e3e391;
    --secondary-text-color: #424242;
    --primary-text-color: black;
    --priority-filter-color: #C2B199;
    --button-text-color: #696969;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
}

#sidebar-section {
    background-color: var(--bg-color);
    height: 100dvh;
    margin-left: 20px;
    width: 25%;
    display: flex;
    align-items: start;
    flex-direction: column;

    #logo-area {
        display: flex;
        align-items: center;
        gap: 10px;
        
        h1 {
            font-weight: 600;
        }
    }

    p {
        font-size: 1em;
        color: var(--secondary-text-color);
    }

    #search-area {
        position: relative;
        width: fit-content;
        margin-bottom: 20px;
    }

    #search-box {
        width: 210px;
        height: 30px;
        border: none;
        outline: none;
        background-color: var(--search-bg-color);
        padding-left: 35px;
        border-radius: 7px;
        margin-bottom: 0;
    }

    #search-area svg {
        position: absolute;
        left: 6px;
        top: 50%;
        transform: translateY(-50%) scale(0.7);
        pointer-events: none;
        color: var(--secondary-text-color);
    }

    #top-pages-section, #filter-pages-section {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 10px;
        margin-bottom: 5px;
    }

    #filter-pages-section {
        display: flex;
        gap: 35px;
    }

    #priority-filter-section, #status-filter-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .block {
        width: 20px;
        height: 20px;
        background-color: var(--primary-color);
    }

    h1 {
        font-size: 1.6em
    }

    .top-page, .filter-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 15px;
        p {
            color: var(--primary-text-color);
            margin: 0;
            font-size: 1em;
        }
        svg {
            scale: 95%;
        }
    }

    .filter-item {
        color: var(--priority-filter-color);
    }

    .top-page {
        color: var(--primary-color);
        p {
            font-weight: 600;
        }
    }

}

#main-section {
    height: 100dvh;
    width: 100%;
    background-color: var(--bg-color);

    #header-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 50px;
    }

    #title-area {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        font-weight: 600;
        color: var(--primary-color);
        svg {
            transform: scale(1.2);
        }
        svg path {
            stroke-width: 2px;
        }
        p {
            font-size: 1.5em;
        }
    }

    #task-btn-area {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.1);
        color: var(--button-text-color);
        border: 1px dashed var(--button-border-color);
        border-radius: 6px;
        padding-left: 10px;
        width: 60%;
        font-size: 0.9em;
        svg {
            color: var(--button-border-color);
        }
        #task-btn-header {
            cursor: pointer;
            height: 35px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }
        
        #task-btn-details {
            height: 0;
            display: flex;
            gap: 10px;

            pointer-events: none;

            opacity: 0;
            transition: 0.5s ease-in-out height, 0.5s ease-in-out opacity, 0.5s ease-in-out padding;


            #task-btn-calendar-area {
                border: 1px solid var(--search-bg-color);
                border-radius: 6px;
                padding: 0 14px;
                height: 25px;
                font-size: 0.9em;
                display: flex;
                align-items: center;
                p {
                    color: var(--secondary-text-color);
                    font-weight: 500;
                }
                input {
                    position: absolute;
                    visibility: none;
                }
            }

            #task-btn-calendar {
                opacity: 0;
                pointer-events: none;
            }
        }

        #task-btn-details.open {
            height: 30px;
            opacity: 1;

            pointer-events: all;

            padding-bottom: 10px;
        }

        #task-btn-text {
            background-color: transparent;
            border: none;
            transition: 0.3s ease-in-out color;
            font-weight: 500;
            margin: 0;
        }

        #task-btn-text:focus {
            outline: none;
        }

        margin-bottom: 20px;
    }

    #tasks-area {
        height: 100%;
        width: 70%;
    }
}