:root {
    --primary-color: #FA9F20;
    --bg-color: beige;
    --search-bg-color: #e3e3e391;
    --secondary-text-color: #424242;
    --primary-text-color: black;
    --priority-filter-color: #C2B199;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: var(--bg-color);
}

#sidebar-section {
    background-color: var(--bg-color);
    height: 100dvh;
    margin-left: 20px;
    width: 25%;
    display: flex;
    align-items: start;
    flex-direction: column;

    #logo-area {
        display: flex;
        align-items: center;
        gap: 10px;
        
        h1 {
            font-weight: 600;
        }
    }

    p {
        font-size: 1em;
        color: var(--secondary-text-color);
    }

    #search-area {
        position: relative;
        width: fit-content;
        margin-bottom: 20px;
    }

    #search-box {
        width: 210px;
        height: 30px;
        border: none;
        outline: none;
        background-color: var(--search-bg-color);
        padding-left: 35px;
        border-radius: 7px;
        margin-bottom: 0;
    }

    #search-area svg {
        position: absolute;
        left: 6px;
        top: 50%;
        transform: translateY(-50%) scale(0.7);
        pointer-events: none;
        color: var(--secondary-text-color);
    }

    #top-pages-section, #filter-pages-section {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 10px;
        margin-bottom: 5px;
    }

    #filter-pages-section {
        display: flex;
        gap: 20px;
    }

    #priority-filter-section, #status-filter-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .block {
        width: 20px;
        height: 20px;
        background-color: var(--primary-color);
    }

    h1 {
        font-size: 1.6em
    }

    .top-page, .filter-item {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 15px;
        p {
            color: var(--primary-text-color);
            margin: 0;
            font-size: 1em;
        }
        svg {
            scale: 95%;
        }
    }

    .filter-item {
        color: var(--priority-filter-color);
    }

    .top-page {
        color: var(--primary-color);
        p {
            font-weight: 600;
        }
    }

}

#main-section {
    height: 100dvh;
    width: 100%;
    background-color: var(--bg-color);
}